.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: skyblue;
}

nav {
    margin-left: 40%;
}

#ul-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    color: white;
    text-align: center; 
    padding-top: 10px;
    margin-left: 60px;
    font-size: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

li a:active {
    background-color: cornflowerblue;
}

li a:visited {
    color: white;
}



.diamond-heatmap {
    width: 450px;
    height: 450px;
    background: linear-gradient(to left, blue, orange);
    top: 35%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.content {
    font-family: cursive;
    font-size: 25px;
    width: 700px;
    background-color: beige ;
    margin-top: 19%;
    margin-left: 55%;
    text-align: right;
}
.content input {
    font-family: cursive;
    font-size: 20px;
}